<configuration>
    <appender name="MCP_TOOL_GATEWAY_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="MCP_TOOL_GATEWAY_CONSOLE" />
    </root>
</configuration>